venv
*.pyc
.DS_STORE
.env
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
sheriffapp/sheriffapp/local_settings.py
db.sqlite3
media

.ipynb_checkpoints/*
.DS_Store/
*/.DS_Store/*
*/.ipynb_checkpoints/*
